


<div class="Section4" style="width: 1500px; height: 61px; background: #592424" >
  
  
  <p class="GMwwAC" style="width: 70px; height: 26px; left: 450px; top: 12px; position: absolute; color: #F9F9F9" id="comp-ils2cgqy0label">INICIO</p>
  <p class="GMwwAC" style="width: 74px; height: 32px; left: 550px; top: 12px; position: absolute; color: #F9F9F9">INSTITUCIÓN</p>
  <p class="GMwwAC" style="width: 100px; height: 42px; left: 700px; top: 12px; position: absolute;color: #F9F9F9;">PERSONAL</p>
  <p class="GMwwAC" style="width: 100px; height: 42px; left: 850px; top: 12px; position: absolute;color: #F9F9F9;" id="comp-ils2cgqy3label">NIVELES DE EDUCACIÓN</p>
  <p class="GMwwAC" style="width: 74px; height: 32px; left: 1000px; top: 12px;position: absolute;color: #F9F9F9;" id="comp-ils2cgqy4label">ESPACIOS</p>
  <p class="GMwwAC" style="width: 74px; height: 40px; left: 1150px; top: 12px;position: absolute;color: #F9F9F9;">COLLAGE FOTOGRÁFICO</p>

</div>

<img style="width: 1500px; height: 550; position: relative; background: #360000" src="https://static.wixstatic.com/media/ada09a_e4374067a0f84e70a4e21febd0041672~mv2.jpg/v1/fill/w_1437,h_485,al_c,q_85,enc_auto/ada09a_e4374067a0f84e70a4e21febd0041672~mv2.jpg" alt="Descripción de la imagen">
